/*@import "compass/css3";*/

@font-face { 
	font-family: 'Bernhard Gothic BQ'; 
	src: url('bernhard_gothic_medium.ttf'); } 
*/html, body {
	width:100%;
	height:100%;
	/*font-family: 'Roboto';*/
	font-family: 'Vollkorn', serif;
	padding: none;
	margin: none;
	
/*	overflow: hidden;*/
}
body {
	/*background: white;*/
	transition: all 300ms;
	background: white;
	/*will-change: background;*/
}

#beforetwo, #beforethree, #beforefour, #beforefive, #beforesix, #beforeseven {
	/*position: relative;*/
	width:100%;
	height:200%;
	/*padding-bottom: 130%;*/
}
#emptytwo, #emptythree, #emptyfour, #emptyfive, #emptysix, #emptyseven {
	width:100%;
	height:50%;
}
#between {
	/*background: black;*/
	/*background: linear-gradient( to bottom, rgba(0, 0, 0, 0), black);*/
/*	border: 5pt solid red;
	width:100%;
	height:500%;*/
/*	background: white;
	will-change: background;*/
	/*position: absolute;*/
	/*z-index: 10000000;*/
}
.color-two, .color-three, .color-four, .color-five, .color-six, .color-seven {
	background: black;

}

	
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
.wrap {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.container {
	position: relative;
	width:100%;
	margin: 0 auto;
	height:65%;
	padding: 0;
	text-align: justify;
	text-justify:inter-word;
	transition: all 400ms;
	/*margin-left: 8%;*/
	/*margin-top:5%;*/
/*	z-index: 10;*/

}
#container-overlay {
	width:100%;
	bottom:0;
	height:200px;
	background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
    );
	position: fixed;
	z-index: 1;
}


.block-container-one, .block-container-two, .block-container-three, .block-container-four, .block-container-five, .block-container-six{
display: none;
}
#stars {
	width:100%;
	text-align: center; 
	display: block;
}
a {
	color:black;
	font-family: 'Roboto';
	text-decoration: none;
	
}
a:hover {
	text-decoration: underline;
}
h2 {
	display: none;
	margin-top:20%;
	font-size: 80pt;
	font-family: 'Bernhard Gothic BQ';
}

h1 {
	text-align: center;
	left:0;
	right:0;
	width:100%;
	margin: 0 auto;
	font-family: 'Bernhard Gothic BQ';
	text-transform: uppercase;
	line-height: 12vw;
	font-size: 12vw;
	font-weight: 300;
	/*z-index: 1000;*/
	padding-bottom: 0;
}
.title {
	position: absolute;
	
/*	border: 2pt solid red;*/
/*	margin-left: 8%;*/
	margin-top:-30%;

/*	font-family: 'Roboto';*/
	
}

#firsttitle {
	margin-top: -20%;


}
.titleabstract {
	top:0;
	bottom: 20%;
	font-size: 15vw;
	line-height: 12vw;
	
}

#subtitle {
	font-size: 5vw;
	line-height: 12vw;
}
p {
	font-size: 21px;
	/*font-weight: 300;*/
	/*z-index: 1000;*/
}

.textblock {
	width:60%;
	margin: 0 auto;

	margin-bottom: 50%;

}


/*#formal {
	font-family: 'Roboto';
}*/

/*.txt {
	width:30%;
	float: left;
	font-size: 11pt;
	font-family: 'Bernhard Gothic BQ';
	margin-left:-32%;
	text-align: left;
}*/
/*p::first-letter {
	  initial-letter: 4;
  -webkit-initial-letter: 4;
  
}*/

/*.initial {
	font-size: 100pt;
}*/

/*p::first-letter {
 font-size: 530%;
float: left;
}*/
p.initial:first-letter {
	font-size: 95pt;
	float : left;
	line-height: 50px;
	padding-top: 25px; 
 	padding-right: 4px;
 	padding-bottom: 3px;

}
#stars {
	width:100%;
	text-align: center; 
	display: block;
}
/*.txt.frst {
	margin-top: 50%; 
}
.txt.scnd {

	margin-top: 22%; 
}
.txt.third {

	margin-top: 33%; 
}*/
#txt-mono {
	font-family: 'VT323', monospace;
}
/*img {
	width: 30%;
	margin-left:-32%;
	margin-top: 3%; 
	float: left;*/
/*	position: relative;

/*#imgsecond {
	margin-top:30%;
}*/
label {
	position: absolute;
	top:20%;
	right:15%;
    display: block;
    cursor:pointer;
}

.table-all {
	left:0;
	top:15%;
	position: fixed;
	z-index: 1000;
	height:100%;
}
.table-all a {
	display: block; 
	margin-bottom: 10px;
/*	height:100%;*/
	
	
}
.t1,.t2,.t3,.t4,.t5,.t6,.t7  {
/*	display: block; 
	top:10%
	right:0;*/
/*	width:100%;*/
	/*height:100%;*/
	width:40px;
	height:40px;
	/*border:3pt solid black;*/
	background-color: black;
	font-size: 9pt;
	-webkit-clip-path: polygon(30% 50%, 0 100%, 0 0);
	clip-path: polygon(30% 50%, 0 100%, 0 0);

	/*text-transform: uppercase;*/
	transition: all 0.2s ease-in-out;

}

.table-all a:hover {
	-webkit-clip-path: polygon(50% 50%, 0 100%, 0 0);
	clip-path: polygon(50% 50%, 0 100%, 0 0);
}


.references {
	position: fixed;
	background: white;
	right:0;
	top:0;
bottom:0;
	width:40%;
	/*height:100%;*/
	border: black solid 5pt;
}

.refs {
	top:70%;
	right:0;
	position: fixed;
	z-index: 1000;
	width:60px;
	height:60px;
	background-color: black;
	-webkit-clip-path: polygon(54% 50%, 100% 0, 100% 100%);
			clip-path: polygon(54% 50%, 100% 0, 100% 100%);
	transition: all 0.2s ease-in-out;
}


.refs:hover {
	-webkit-clip-path: polygon(24% 50%, 100% 0, 100% 100%);
			clip-path: polygon(24% 50%, 100% 0, 100% 100%);
}

/*
.t1 {

-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.t2 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.t3 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.t4 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.t5 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.t6 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.t7 {
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
*/

/*.view {
	color:red;
} */


.images {
	position: absolute;
	left:0;
	right:0;
	width:100%;
	/*height:100%;*/
	margin: 0 auto;
	margin-top:5%;
	text-align: center;
	display: inline-block;
	z-index: 10000;
	background: black;


}
.imgwrap {
	margin-top:5%;
	/*position: absolute;*/
/*	border: 3px solid green;*/
	/*width: 50%;*/
	height: auto;
	display: inline-block;
	text-align: center;
}



img {

	/*width:auto;*/
	height:50%;
	max-height:40%;
	padding-left:1%;
	/*padding-bottom: 5%;*/
	filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}

img:hover {
	cursor: pointer;
    filter: none;
      -webkit-filter: grayscale(0);
    }
/*
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	background-color: black;
	overflow: hidden;
	transition: .3s ease-in-out;
}
img:hover .overlay {
	height:20%;
}*/
.text-overlay {
	color: white;
	text-align: center;
	position: absolute;
	top:10%; 
/*	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/

}

.textforimage {
	font-size: 14pt;
	
}
.imgwrap:hover .textforimage{
	color:white;

}
/*

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
*/



.polygon-wrap {
top:0;
margin: 0 auto;
padding: 0;
width:100%;
height:100%;
z-index: 100;
position: fixed;
}
.polygons {
top:0;
margin: 0 auto;
padding: 0;
/*width:100%;
height:100%;*/
 z-index: 100;
position: fixed;
}

.poly1, .poly2, .poly3, .poly4, .poly5, .poly6 {
	 width: 500px; height: 500px;
	 transition: all 0.5s ease-in-out;
}
.poly1 {
	top: 80%;
	left: 0;	
	background-color: black;
-webkit-clip-path: polygon(100% 0, 16% 18%, 65% 20%);
}

.poly1-two {
	top: 30%;
	left: 10;	
	-webkit-clip-path: polygon(20% 50%, 86% 8%, 0% 80%);
	clip-path: polygon(20% 50%, 86% 8%, 0% 80%);
}
.poly1-three {
	top: 10%;
	left: 45;	
	-webkit-clip-path: polygon(90% 0%, 6% 85%, 10% 70%);
}



.poly2 {
	top: 55%;
	right: 90;	
	background-color: black;
	-webkit-clip-path: polygon(100% 0, 18% 20%, 93% 39%);
}

.poly2-two {
	top: 45%;
	right: 80;	
	-webkit-clip-path: polygon(80% 20%, 40% 0, 73% 31%);
}

.poly2-three {
	top: 15%;
	right: 120;	
	-webkit-clip-path: polygon(0% 73%, 10% 60%, 3% 43%);
}




.poly3 {
	top: 35%;
	left: -150;	
	background-color: black;
-webkit-clip-path: polygon(49% 97%, 48% 24%, 93% 39%);
}

.poly3-two {
	top: 55%;
	left: 150;	
-webkit-clip-path: polygon(50% 60%, 4% 82%, 3% 30%);
}

.poly3-three {
	top: 15%;
	left: 10;	
-webkit-clip-path: polygon(0% 43%, 43% 8%, 30% 10%);
}



.poly4 {
	top: -40%;
	left: 20;	
	background-color: black;
-webkit-clip-path: polygon(33% 62%, 18% 78%, 72% 93%);
}
.poly4-two {
	top: -35%;
	left: 20;	
-webkit-clip-path: polygon(10% 62%, 18% 78%, 72% 93%);
}

.poly4-three {
	top: 35%;
	left: 50;	
-webkit-clip-path: polygon(50% 12%, 73% 7%, 12% 48%);
}



.poly5 {
	top: 35%;
	right: 55;	
	background-color: black;
	-webkit-clip-path: polygon(96% 53%, 98% 75%, 72% 93%);
}

.poly5-two {
	top: 25%;
	right: 65;	
	-webkit-clip-path: polygon(79% 50%, 98% 75%, 72% 93%);
}

.poly5-three {
	top: 15%;
	right: 5;	
	-webkit-clip-path: polygon(9% 5%, 48% 25%, 20% 3%);
}


.poly6 {
	top: 85%;
	right: 350;	
	background-color: black;
-webkit-clip-path: polygon(100% 0, 18% 0%, 93% 9%);
}

.poly6-two {
	top: 55%;
	right: 225;	
-webkit-clip-path: polygon(20% 70%, 10% 60%, 19% 29%);
}

.poly6-three {
	top: 25%;
	right: 15;	
-webkit-clip-path: polygon(60% 10%, 43% 6%, 59% 39%);
}

